@import 'init';
// Global class styling
.pointer {
    cursor: pointer;
}

.float-to-right {
    display: flex;
    justify-content: flex-end;
}

.float-to-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s, transform .5s;
}

.fade-enter {
    opacity: 0;
    transform: translateY(30px);
}

.fade-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.title {
    padding: 15px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    position: fixed;
    z-index: 4;
    height: auto;
    width: 100%;
    background: white;
}

legend {
    font-weight: bold;
}